
@{
    ViewData["Title"] = "Delete";
}
@model UserViewModel
<h1>Are You Sure You Want To Delete @Model.FName @Model.LName</h1>
<div asp-validation-summary="All"></div>
<form asp-action="Delete">
    <div>
        <label class="col-form-label" asp-for="Id"></label>
        <input readonly class="form-control" asp-for="Id" />
    </div>
    <div>
        <label class="col-form-label" asp-for="FName"></label>
        <input readonly class="form-control" asp-for="FName" />
    </div>
    <div>
        <label class="col-form-label" asp-for="LName"></label>
        <input readonly class="form-control" asp-for="LName" />
    </div>
    <div>
        <label class="col-form-label" asp-for="Email"></label>
        <input readonly class="form-control" asp-for="Email" />
    </div>
    <div>
        <label class="col-form-label" asp-for="PhoneNUmber"></label>
        <input readonly class="form-control" asp-for="PhoneNUmber" />
    </div>
    <input asp-action"Delete" asp-all-route-Id="@Model.Id" type="submit" value="Delete" class="btn btn-danger mt-1" />
    <a asp-action="Index" class="btn btn-light mt-1">Cancel</a>
</form>

