@model UserViewModel
@{
    ViewData["Title"] = "Details";
}

<h1>Details Of @Model.FName @Model.LName</h1>
<div>
    <label class="col-form-label" asp-for="Id"></label>
    <input readonly class="form-control" asp-for="Id" />
</div>
<div>
    <label class="col-form-label" asp-for="FName"></label>
    <input readonly class="form-control" asp-for="FName" />
</div>
<div>
    <label class="col-form-label" asp-for="LName"></label>
    <input readonly class="form-control" asp-for="LName" />
</div>
<div>
    <label class="col-form-label" asp-for="Email"></label>
    <input readonly class="form-control" asp-for="Email" />
</div>
<div>
    <label class="col-form-label" asp-for="PhoneNUmber"></label>
    <input readonly class="form-control" asp-for="PhoneNUmber" />
</div>
<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary mt-3">Edit</a>
<a asp-action="Index" class="btn btn-light mt-3">Back To List</a>
