@model RoleViewModel
@{
    ViewData["Title"] = "Details";
}


<div>
    <label class="col-form-label" asp-for="Id"></label>
    <input readonly class="form-control" asp-for="Id" />
</div>
<div>
    <label class="col-form-label" asp-for="RoleName"></label>
    <input readonly class="form-control" asp-for="RoleName" />
</div>

<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary mt-3">Edit</a>
<a asp-action="Index" class="btn btn-light mt-3">Back To List</a>
