
@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/Auth_Layout.cshtml";
}

<div class="main-agileinfo">
	<div class="agileits-top">
		@* <form asp-action="SendEmail"> *@
 		<form asp-action="SendSms">
 
			<input class="text" asp-for="Email" placeholder="Email" required="">
			<span asp-validation-for="Email" class="text-danger"> </span>
			<br />
			<input type="submit" value="Reset Password">
		</form>
	</div>
</div>
@section ValidationScriptSection {
	<partial name="_ValidationScriptsPartial" />
}
