@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/Auth_Layout.cshtml";
}
<div asp-validation-summary="All"></div>
<div class="main-agileinfo">
	<div class="agileits-top">
		<form asp-action="ResetPassword">

			<input class="text" asp-for="NewPassword" placeholder="New Password" required="">
			<span asp-validation-for="NewPassword" class="text-danger"> </span>
			<br />
			<input class="text" asp-for="ConfirmNewPassword" placeholder="Confirm new password" required="">
			<span asp-validation-for="ConfirmNewPassword" class="text-danger"> </span>
			<br />
			<input type="submit" value="Reset">
		</form>
	</div>
</div>
@section ValidationScriptSection {
	<partial name="_ValidationScriptsPartial" />
}

